/* Base */
* {
  box-sizing: border-box;
}

body {
  background: #223;
  color: #fff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* Nav */
.nav {
  background: rgba(0, 0, 0, .1);
  padding: 5%;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav__link {
  color: #fff;
  margin-left: .5em;
  text-decoration: none;
}

/* Page */

.page {
  height: 100vh;
  padding: calc(15% + 1.5em) 5% 5%;
  overflow-y: auto;
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  transition: transform 1s ease-in-out;
}

.page-enter {
  transform: translate(-100%, 0);
}

.page-enter-active {
  transform: translate(0, 0);
}

.page-exit {
  transform: translate(-100%, 0);
}

.page--prev.page-enter {
  transform: translate(100%, 0);
}

.page--prev.page-enter-active {
  transform: translate(0, 0);
}

.page--prev.page-exit {
  transform: translate(100%, 0);
}

.page h1 {
  margin-top: 0;
}